.pagination {
  display: flex;
  width: 60%;
  margin: 20px 0;
}
.pageButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 30px;
  height: 30px;
  background-color: rgb(180, 180, 180);
  cursor: pointer;
  &:hover,
  &.active {
    background-color: gray;
  }
}
.pageList {
  width: 100%;
  display: flex;
  overflow: auto;
}
